.menu{
  grid-column: 2;
}

header{
  grid-column: 1 / span 12;
  grid-row: 1 / 5;
  border-color: blue;
  border-style: solid;
}

nav{
  grid-row: 5 / span 1;
}

main{
  grid-row: 6/span 2;
}

.subGrid {
  /*colonne débutant de 1 à 13-1*/
  display: grid;
  grid-column: 1 / 13;
  border-color: #e41c1c;
  border-style: solid;
  grid-template-rows: subgrid;
  grid-template-columns: repeat(12, 1fr);
  word-spacing: 50%;
}

.fixedFooter{
  font-family: Arial, sans-serif;
  position:fixed;
  bottom:0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(60px, auto);
}

.liste{
  grid-column: 1/span 4;
}

table{
  border-color: black;
  border-style: solid;
}

.navContainer {  
  display: flex;  
}

body{
  margin: 0 auto;
}