body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#34495e;
}

.box{
    width: 30%;
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box h3{
    color: #fefefe;
    font-weight: 500;
    font-family: Arial, sans-serif;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 2% auto;
    text-align: center;
    border: 2px solid #dedede;
    padding: 14px 10px;
    width: 80%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 80%;
    border-color: #232323;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 60%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background:  #2ecc71;
}
.box input[type = "button"]{
    border: 0;
    background: none;
    display: block;
    margin: 110px auto;
    text-align: center;
    border: 2px solid red;
    padding: 14px 40px;
    width: 50%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "button"]:hover{
    background:  red;
}
